<html>
    <head>
        <title>
            <%= title %>
        </title>

        <script src="https://kit.fontawesome.com/30877f989b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1>Contact List</h1>
        <div>
            <ul>
                <% for(let i of contact_list){ %>
                    <div class="contact">
                        <li>
                            <p><i class="fas fa-user"></i> <%= i.name %></p>
                            <p><i class="fas fa-phone"></i><%= i.phone %></p>
                        </li>
                    </div>
                    <!-- Creating delete button using query to send data -->
                    <div class="delete-button">
                        <a href="/delete-contact/?phone=<%=i.phone%>">
                            delete
                        </a>
                    </div>
                <% } %>
            </ul>
        </div>

        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="number" name="phone" placeholder="Enter Phone" required>
            <button type="submit"> Add Contact </button>
        </form>

        
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>