body{
    background-color: lightsteelblue;
}
h1{
    text-align: center;
}

.contact-list{
    display: flex;
    width: 100vw;
    flex-direction: row;
}

.contact-list-item{
    display: flex;
    flex-direction: row;
    width: 40vw;
}
.contact{
    display: flex;
    width: 75%;
}
.delete-button{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: flex-start;
}
.fa-trash{
    color: red;
}

.contact-form{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
input[type=text]{
    padding: 1px;
    margin-bottom: 2px;
}
input[type=number]{
    padding: 1px;
    margin-bottom: 2px;   
}
.contact-form button{
    background-color: lightgreen;
    width: fit-content;
    border: 1px solid grey;
    box-shadow: 1px 1px 2px 2px lightgrey;
}